.header{
    display: flex;
    background-color: #0578c5;
    width: 100%;
    height: 200px;
    align-items: center;
}
.header .icon img{
    width: 150px;
}
.header .text{
    color: white;
}
.navigation{
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    background-color: blueviolet;
    width: 100%;
    height: 50px;
}
.nav-element{
    display: block;
    padding: 15px 25px;
    color: white;
    text-decoration: none;
    text-align: center;
    border-right: 1px solid #7e0a9b;
    transition: background-color 0.5s ease;
}
.nav-element:hover{
    background-color: rgb(157, 76, 233);
}
#ponedilok, #vivtorok, #sereda, #chetver, #pyatniza, #subota, #nedilya {
    display: none;
    padding: 20px;
}
#ponedilok:target, #vivtorok:target, #sereda:target, 
#chetver:target, #pyatniza:target, #subota:target, #nedilya:target {
    display: block;
}
.nav-element:active{
    background-color: #5a0a70;
}
.nav-element:focus{
    background-color: #5a0a70;
    outline: none;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
th, td{
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
th{
    background-color: #f2f2f2;
}
.free{
    color: #ff8818;
}
.ensemble{
    color: #0b5cff;
}
.orchestra{
    color: #12c983;
}
.orchestra-or-not{
    color: #22b00c;
}
.music-theory{
    color: #ff0bc2;
}
.coding{
    color: #690a83;
}
.study{
    color: #bec11d;
}
.kickboxing{
    color: #c50606;
}
.violin{
    color: #0bbbb8;
}
.day{
    font-family: cursive;
}